.center {
    text-align: center;
}

@each $key,
$step in ("0_5", 0.5),
("1", 1),
("1_5", 1.5),
("2", 2) {
    .b-margin-#{$key} {
        margin-bottom: #{$step}em;
    }
    .t-margin-#{$key} {
        margin-top: #{$step}em;
    }
}

.w100{
    width: 100% !important;
}