body {
    margin: 24px;
}

//таблицы
.table-hover {
    thead {
        th {
            text-align: center;
        }
    }
    tbody {
        tr {
            cursor: pointer;
            td:not(:first-child) {
                text-align: center;
            }
        }
    }
}

.pointer {
    cursor: pointer;
}

.jumbotron {
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 8px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
}

#map {
    width: 100%;
    height: 500px;
}

.training {
    padding: 1em;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .9);
    border-radius: 4px;
}

.param {
    position: relative;
    .value {
        position: absolute;
        top: 0;
        left: 60%;
    }
}

.switchable-wrapper {
    height: 32px;
}

@media (min-width:972px) {
    .adapt-h24 {
        height: 24px;
    }
}